.Article {

}

.general {
    display: flex;
    justify-content: space-between;
}

.Article__left {
    display: flex;
    flex-direction: column;
}

.header__general {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #1890FF;
}

.article__likes {
    margin-left: 13px;

    display: flex;
    align-items: center;
}

.likes {
    width: 16px;
    height: 16px;
}

.likes__count {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.75);

    margin-left: 5px;
}

.article__tags {

}

.tag {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: rgba(0, 0, 0, 0.5);

    margin-top: 6px;
    margin-right: 8px;
}

.Article__right {
    display: flex;
}

.article__user {
    display: flex;
    flex-direction: column;
}

.article__name_user {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.85);

}

.article__date {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.5);
}

.article__user_logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;

    margin-left: 12px;
}

.article__body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    margin-top: 5px;

    color: rgba(0, 0, 0, 0.5);

    flex-grow: 5;
}

.article__delete {
    border: 1px solid #F5222D;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #F5222D;
}

.article__edit {
    border: 1px solid #52C41A;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #52C41A;

    margin-left: 12px;
}

.article__desc_btns {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-top: 15px;
    align-items: center;
}